:root {
    --grey_theme: rgb(188, 188, 188);
    --darkgrey_theme: rgb(146, 146, 146);
    /*--orange_theme: rgb(11, 241, 176);*/
    --orange_theme: rgb(241, 172, 11);
    --button_hover_theme: rgb(241, 172, 11, 0.25);
   /* --button_hover_theme: rgb(11, 241, 176, 0.25);*/
    --darkblue_theme: rgb(16, 22, 55);

    --ff_main: Verdana, Geneva, Tahoma, sans-serif;
    --ff_secondary: 'Andale Mono', AndaleMono, monospace;
}

html { 
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}
body {
    background-color: var(--darkblue_theme);
    width: 100%;
    height: 100%;
    margin: 0rem;
    font-size: 1rem;
}
a {
    color: unset;
    text-decoration: unset;
}
a:hover {
    color: var(--orange_theme);
}
button a:hover {
    color: var(--darkblue_theme);
}
button:hover {
    background-color: var(--button_hover_theme);
    color: var(--darkblue_theme);
}
#evantaylorline {
    color: var(--orange_theme);
    display: contents;
}
/*HEADER*/
#header {
    height: 3.125rem;
    background-color: var(--darkblue_theme);
    color: var(--grey_theme);
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: var(--ff_secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold; 
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-bottom: 1px solid var(--orange_theme);
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
    position: fixed;
    top: 0;
    left: 0;
    /*width: 1400px;*/
    width: 100%;
    box-sizing: border-box;
}
#header_name {
    font-size: 1.5rem;
    color: var(--orange_theme);
}
#header_links {
    display: flex;
    gap: 4.6875rem;
}
#resume {
    width: 5em;
    height: 2.1875rem;
    background-color: var(--darkblue_theme);
    color: var(--orange_theme);
    border: 1px solid var(--orange_theme);
    border-radius: 5px;
    font-family: var(--ff_secondary);
}
#resume a {
    display: block;
}
#resume:hover {
    background-color: var(--button_hover_theme);
    color: var(--darkblue_theme);
}
#header_right {
    display: flex;
    align-items: center;
    gap: 4.6875rem;
}
/*HOME PAGE*/
#home {
    color: whitesmoke;
    font-family: var(--ff_main);
    /*padding-left: 300px;
    padding-top: 175px;
    padding-left: 20rem;
    padding-top: 10rem;*/
    padding-left: 20%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}
#home_introtext {
    font-weight: normal;
    margin: 0.625rem;
    color: var(--grey_theme);
    margin-left: 0;
}
#home_nametext {
    font-size: 3.125rem;
    font-weight: bold;
    padding: 0rem;
    margin: 0.3125rem;
    margin-left: 0;
}
#home_bigtext {
    font-size: 2rem;
    font-weight: bold;
    padding: 0px;
    margin: 5px;
    color: var(--darkgrey_theme);
    margin-left: 0;
    margin-bottom: 1.5rem;
}
.get_in_touch {
    width: 8rem;
    height: 3rem;
    background-color: var(--darkblue_theme);
    color: var(--orange_theme);
    border: 1px solid var(--orange_theme);
    border-radius: 5px;
    margin-top: 1.25rem;
    font-family: var(--ff_secondary);
}
.get_in_touch a, #resume a {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SECTION and SCROLL*/
.sec_one, .sec_two, .sec_three, .sec_four {
    height: 100vh;
    scroll-snap-align: start;
    color: white;
    align-items: center;
}

/*PORTFOLIO*/
#port, #about, #contact {
    display: flex;
    flex-direction: column;
    font-family: var(--ff_main);
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--grey_theme);
    /*padding-left: 20rem;
    padding-top: 10rem;*/
    padding-left: 20%;
    padding-top: 10%;

}
#port_line, #about_line, #contact_line {
    color:whitesmoke;
}
#projects {
    color: var(--orange_theme);
    font-size: 1.25rem;
    font-weight: initial;
    padding-bottom: 2.5rem;
    margin: 0rem;
}
#project_info {
    color: var(--grey_theme);
    font-size: 1rem;
    font-weight: initial;
    margin: 0rem; 
}
#about_text, #port_text, #contact_text {
    font-size: 1.25rem;
    font-weight: initial;
    padding-bottom: 1rem;
}
#about_text {
    padding-right: 15rem;
}

p {
    animation-duration: 4s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(.22,.08,.42,.99);
}
  
@keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin-top: 0.35rem;
      width: 100%;
    }
}

#socials {
    font-size: 6rem;
}

#header, #header_name, #resume, .get_in_touch {
    animation-duration: 5s;
    animation-name: fadein;
    animation-timing-function: cubic-bezier(.22,.08,.42,.99);
}
  
@keyframes fadein {
    from {
      color:rgb(16, 22, 55);
      border-color:rgb(16, 22, 55)
    }
  
    to {
      color: var(--ff_secondary);
      border-color: var(--orange_theme);
    }
}

